extends layout

block content
  h1(id='site-title') Latest News
  hr
  div(id='flexbox')
    div(id='sidebar')
      ul
        a(href='latest'): li Latest
        a(href='videos'): li Videos
        a(href='articles'): li Articles  
    div(id='card-holder')
      ul(id='cards')
        each card in data
          li
            div(class='photo')
              img(src=card.thumbnails[0].url)
            div(class='card-info')
              p= card.metadata.post_age
              p  &middot 
              p= card.metadata.comments
              a(href=card.metadata.slug): h2= card.metadata.title ? card.metadata.title : card.metadata.headline
