extends layout

block content
  h1 Latest News
  hr
  ul(id='sidebar')
    a(href='https://www.google.com'): li Latest
    a: li Videos
    a: li Articles  
  div(id='card-holder')
    ul(id='cards')
      each card in data
        li= card.metadata.title ? card.metadata.title : card.metadata.headline
