body {
  padding: 50px;
}

#site-title {
  font-family: 'Chivo', sans-serif; 
  font-weight: 900;
  font-size: 3rem;
  margin: 0px;
}

#flexbox {
  display: flex;
}
#cards {
  padding-left: 25px;
}

ul {
  list-style-type: none;
}

#sidebar {
  flex-grow: 1;
  min-width: 20%;
  font-size: 1.5rem;
}

#sidebar li > *{
  display: inline;
}

#sidebar i {
  padding-right: 15px;
}

#card-holder {
  flex-grow: 4
}

#sidebar ul{
  padding: 0px;
  color: grey;
}

#sidebar ul a {
  color: grey;
}

#sidebar ul a {
  width: 100%;
}

#sidebar ul a:visited {
  color: grey;
}

#sidebar ul a:hover {
  color: white;
  text-decoration: none;
}

#sidebar ul li:hover {
  color: white;
  background: red;
}

#sidebar li{
  padding: 10px;
}


.photo {
  flex-grow: 1;
  min-width: 30%;
  max-width: 30%;
  object-fit: scale-down;
}

img {
  width: 100%;
}

img:hover {
  opacity: 0.7;
}

.card-info {
  margin-left: 10px;
  flex-grow: 2;
}

.card-info p, .card-info i {
  margin-left: 2px;
  color: red;
}

h2 {
  font-size: 1rem;
  max-width: 50%;
}

#cards li {
  display: flex;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#cards li p {
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #00B7FF;
  text-decoration: underline;
}

